<h1 mat-dialog-title>New User</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Company</mat-label>
      <input matInput disabled [value]="company.name">
    </mat-form-field>

    <table cellspacing="0" style="width: 100%">
      <tr>
        <td>
          <mat-form-field style="width: 100%;">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="userDraft.firstName" required name="firstName">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width: 100%;">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="userDraft.lastName" required name="lastName">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table cellspacing="0" style="width: 100%">
      <tr>
        <td>
          <mat-form-field style="width: 100%;">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="userDraft.username" required name="userName">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field style="width: 100%;">
            <mat-label>Role</mat-label>
            <mat-select [(value)]="userDraft.roleId">
              <div *ngFor="let role of availableRoles">
                <mat-option [value]="role.id">{{ role.name }}</mat-option>
              </div>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancle</button>
  <button mat-button [mat-dialog-close]="userDraft" cdkFocusInitial>Create</button>
</div>
