<app-nav title="Process Overview"></app-nav>
<mat-card style="margin-top: 10px;margin-bottom: 10px;background-color: #f5f5f5;">
  <mat-card-header>
    <mat-card-title>Overview</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxFlexFill fxLayout="row wrap" fxLayoutGap="10px" style="padding: 15px;">
      <div fxFlex="30" *ngFor="let group of processNodeGroups">
        {{ group.title }}
        {{ group.nodes.length }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card *ngFor="let group of processNodeGroups" style="margin-top: 20px;background-color: #f5f5f5;">
  <mat-card-header>
    <mat-card-title>{{ group.title }}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxFill fxLayout="column" fxLayoutGap="10px">
      <div *ngFor="let node of group.nodes">
        <app-process-node [processNode]="node"
        (selectChange)="onSelect(node.id)" (startWorking)="onStart(node.id)" (assignUser)="onAssign(node.id)"></app-process-node>
      </div>
    </div>
  </mat-card-content>
</mat-card>
