<div class=" header bg-default pb-7"  style="background-image: url(assets/img/theme/template.jpg); background-size: cover; background-position: center center;">
    <span class=" mask bg-gradient-primary opacity-7"> </span>
    <app-breadcrumb-header [breadCrumbs]=breadCrumbs ></app-breadcrumb-header>
</div>
<div class=" container-fluid mt--4">
    <div class=" row">
        <div class=" col padding-0-mobile">
            <ng-container *ngIf="!templates || templates.length<1; else elseTemplate" >
                <div>
                    <div class="alert alert-warning" role="alert">
                        <strong i18n>Warning!</strong><span i18n>You haven't created Processes yet!</span>
                    </div>
                </div>
            </ng-container>

            <ng-template #elseTemplate >
                <div class="card">
                    <div class="card-body pl-0 pr-0 pt-0">
                        <ngx-datatable
                            #myTable

                            class="bootstrap selection-cell"
                            [columnMode]="'force'"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [rowHeight]="'auto'"
                            [scrollbarH]="true"
                            [scrollbarV]="false"

                            [rows]="templates"

                        >
                        <!-- Row Detail Template -->
                        <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onActivate($event)">
                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                            <div class="container-fluid">
                                <div class="row pl-2 pr-2">
                                    <div class="col-12">
                                        <p> <span class="h4" i18n>ID:</span>  {{ row.id }}</p>
                                    </div>


                                </div>

                            </div>
                            </ng-template>
                        </ngx-datatable-row-detail>
                        <!-- Column Detail Templates -->
                        <ngx-datatable-column
                        [width]=50
                        [maxWidth]=50
                        [resizeable]="false"
                        [sortable]="false"
                        [draggable]="false"
                        [canAutoResize]="false"
                        [cellClass]="paddingLeftNone"

                        >
                            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                            <a
                                style="font-size: 30px;"
                                class="text-default pl-1"
                                href="javascript:void(0)"
                                [class.datatable-icon-up]="!expanded"
                                [class.datatable-icon-down]="expanded"
                                title="Expand/Collapse Row"
                                i18n-title
                                (click)="toggleExpandRow(row)"
                                >
                            </a>
                            </ng-template>
                        </ngx-datatable-column>
                         <!-- Name -->
                         <ngx-datatable-column  name="Product Name" i18n-name prop="name" [sortable]="true" >
                            <ng-template let-row="row" ngx-datatable-cell-template>
                            <p class="h3 text-default">
                                {{row.name}}
                            </p>

                            </ng-template>
                        </ngx-datatable-column>
                         <!-- Description -->
                         <ngx-datatable-column  name="Processes" i18n-name prop="processes" [sortable]="true" >
                            <ng-template let-row="row" ngx-datatable-cell-template>
                            <p *ngFor="let item of row.processes; let i=index; let first = first; let last = last" class="">
                                {{item.name}} <ng-container *ngIf="!(first && last) && !last" ></ng-container>
                            </p>

                            </ng-template>
                        </ngx-datatable-column>
                        <!-- Quantity -->
                        <ngx-datatable-column  name="Quantity" i18n-name prop="quantity" [sortable]="true" >
                          <ng-template let-row="row" ngx-datatable-cell-template>
                          <p *ngFor="let item of row.processes; let i=index; let first = first; let last = last" class="">
                              {{item.quantity}} <ng-container *ngIf="!(first && last) && !last" ></ng-container>
                          </p>

                          </ng-template>
                      </ngx-datatable-column>
                        </ngx-datatable>

                    </div>


                </div>
            </ng-template>

        </div>
    </div>
</div>
