<div class=" container-fluid" >
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a routerLink="/home/dashboard"> <i class=" fas fa-home " style="font-size: 20px;"> </i> </a>
              </li>

              <li *ngFor="let item of breadCrumbs" class=" breadcrumb-item" >
                  <ng-container>
                    <a routerLink="{{item.url}}" [routerLinkActive]="'active-breadcrumbs'"> {{item.name}} </a>
                  </ng-container>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

