<div class=" header bg-default pb-7"  style="background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center center;">
    <span class=" mask bg-gradient-primary opacity-7"> </span>
    <app-breadcrumb-header [breadCrumbs]=breadCrumbs ></app-breadcrumb-header>
</div>
<div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class="card">
                <div class="row p-4">
                    <div class="col-12">
                        <p>Populate with showcase</p>
                            <button class="btn btn-3 btn-default" type="button" (click)="populate()">
                              <span class="btn-inner--text">Populate</span>
                            </button>
                    </div>
                    <div class="col-12">
                        <p>Login</p>
                            <button class="btn btn-3 btn-default" type="button" (click)="login()">
                              <span class="btn-inner--text">Login</span>
                            </button>
                    </div>
                    <div class="col-12">
                        <p>Clear session storage</p>
                            <button class="btn btn-3 btn-default" type="button" (click)="clear()">
                              <span class="btn-inner--text">Clear</span>
                            </button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
