<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-card-stronger">
                <div class="container-fluid card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <app-text-field [result]="processTemplate.name" (resultChange)="processTemplate.name = $event; processTemplateChange.emit(processTemplate)" [(fieldInformation)]=name  [inputCheckForError]="checkForError" [inputRequired]="true"> </app-text-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <label class=" form-control-label" i18n>Estimated Time Total:</label> <br>
                            <p class="pt-2">{{ estimatedTime }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 accordion-card-shaddow">
            <accordion [isAnimated]="true" [closeOthers]="false">
                <accordion-group >
                    <div accordion-heading>
                        <p class="col-auto mb-0 h5 text-primary"><span i18n>Main Tasks & Challenges</span><i class=" float-right pull-right fa fa-angle-down p-2"></i></p>
                        <p><small class="text-muted col-12" i18n>Add main tasks</small> </p>
                    </div>
                    <div class="table align-items-center table-flush">
                        <thead class=" thead-light">
                            <tr>
                                <th scope="col" i18n>Tasks & Challenges</th>

                                <th scope="col" i18n>Operation</th>

                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr *ngFor="let task of processTemplate.mainTasks; let i = index">
                                <td scope="row">
                                    <p> {{task}}</p>
                                </td>
                                <td scope="row">
                                    <button (click)="removeTask(i)" class=" ml-1 mr-1 mt--1 btn btn-icon btn-2 btn-danger" type="button">
                                        <span  class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <div class="pt-3">
                                        <app-text-field inputPlaceholder="tasks & challenges" i18n-inputPlaceholder [(result)]="taskToAdd" [inputRequired]="false"> </app-text-field>

                                    </div>
                                </td>
                                <td scope="row">
                                    <button (click)="addTask()" class="ml-1 mr-1 mt--1 btn btn-icon btn-2 btn-default" type="button">
                                        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                                    </button>

                                </td>
                            </tr>
                        </tbody>

                    </div>


                </accordion-group>
              </accordion>

        </div>
        <div class="col-12 col-md-6 accordion-card-shaddow">
            <accordion [isAnimated]="true" [closeOthers]="false">
                <accordion-group >
                    <div accordion-heading>
                        <p class="col-auto mb-0 h5 text-primary"><span i18n>Previous Comments</span><i class=" float-right pull-right fa fa-angle-down p-2"></i></p>
                        <p><small class="text-muted col-12" i18n>Previous commtens conerning the process</small> </p>
                    </div>
                    <div class="row" *ngFor="let comment of processTemplate.previousComments; let i = index">
                        <p> {{comment}} </p>
                    </div>
                </accordion-group>
              </accordion>
        </div>
        <div class="col-12 col-md-12 accordion-card-shaddow">

            <accordion [isAnimated]="true" [closeOthers]="false">
                <accordion-group [isOpen]="isFirstOpen">
                    <div accordion-heading>
                        <p class="col-auto mb-0 h5 text-primary"><span i18n>Steps</span><i class=" float-right pull-right fa fa-angle-down p-2"></i></p>
                        <p><small class="text-muted col-12" i18n>Steps to process</small> </p>
                    </div>
                    <div class="table-responsive">
                        <div class="table align-items-center table-flush">
                            <thead class=" thead-light">
                                <tr>
                                    <th scope="col" i18n>Steps</th>

                                    <th scope="col" i18n>Operation</th>

                                </tr>
                            </thead>



                            <tbody class="list">
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <button class="btn btn-icon btn-3 btn-default" type="button" (click)="addStep(-1)" >
                                            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                                            <!--<span class="btn-inner--text"></span>-->
                                        </button>
                                    </td>
                                </tr>
                                <tr *ngFor="let step of processTemplate.stepTemplates ; let i = index">

                                    <td scope="row">
                                        <div  class="pt-3">
                                            <app-text-field inputPlaceholder="step name" i18n-inputPlaceholder [(result)]="step.title" [inputRequired]="true"> </app-text-field>
                                        </div>
                                    </td>
                                    <td scope="row">
                                        <button class="btn btn-icon btn-3 btn-default" type="button" (click)="addStep(i)" >
                                            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                                        </button>
                                        <button class="btn btn-icon btn-3 btn-default" type="button" [routerLink]="" fragment="{{ navFragment + '.' + i }}">
                                            <span class="btn-inner--icon"><i class="fas fa-pen"></i></span>
                                        </button>

                                        <button class="btn btn-icon btn-3 btn-danger" type="button" (click)="removeStep(i)">
                                            <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </div>
                    </div>
                </accordion-group>
              </accordion>



        </div>
    </div>






</div>

