<app-nav title="Home"></app-nav>
<div style="padding: 20px;background-color: rgba(177, 175, 175, 0.5);">
  <h1>Welcome</h1>
  <div fxLayout="row wrap" fxLayoutGap="10px">
    <div fxFlex="25">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Order</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item style="text-align: center;">
              <a mat-menu-item href="orders/overview" style="vertical-align:top;">
                <mat-icon>list_alt</mat-icon>
                <span>Overview</span>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a mat-menu-item href="orders/draft" style="vertical-align:top;">
                <mat-icon>drafts</mat-icon>
                <span>Create New</span>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Process</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item style="text-align: center;">
              <a mat-menu-item href="processes/overview" style="vertical-align:top;">
                <mat-icon>list_alt</mat-icon>
                <span>Overview</span>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Templates</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item style="text-align: center;">
              <a mat-menu-item href="templates/product" style="vertical-align:top;">
                <mat-icon>square_foot</mat-icon>
                <span>Product</span>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a mat-menu-item href="templates/process" style="vertical-align:top;">
                <mat-icon>square_foot</mat-icon>
                <span>Process</span>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a mat-menu-item href="tools" style="vertical-align:top;">
                <mat-icon>construction</mat-icon>
                <span>Tools</span>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Administration</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item style="text-align: center;">
              <a mat-menu-item href="users" style="vertical-align:top;">
                <mat-icon>supervisor_account</mat-icon>
                <span>Users</span>
              </a>
            </mat-list-item>
            <mat-list-item style="text-align: center;">
              <a mat-menu-item href="users" style="vertical-align:top;">
                <mat-icon>groups</mat-icon>
                <span>Roles</span>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Testing</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item style="text-align: center;">
              <a mat-menu-item href="test/storage" style="vertical-align:top;">
                <mat-icon>science</mat-icon>
                <span>Storage</span>
              </a>
            </mat-list-item>
            <mat-list-item>
              <a mat-menu-item href="test/dialog" style="vertical-align:top;">
                <mat-icon>science</mat-icon>
                <span>Dialog</span>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
