<div class=" main-content full-height"
style="background-image: url(assets/img/lynix_img.jpeg); background-size: cover; background-position: center top;">
<span class="mask bg-gradient-primary opacity-6">

</span>


  <div class=" header  py-5 py-lg-8 pt-lg-9">
    <div class=" container">
      <div class=" header-body text-center mb-0">
        <div class=" row justify-content-center">
          <div class=" col-xl-5 col-lg-6 col-md-8 px-7">

            <img style="object-fit: scale-down;" src="assets/img/Logo_Lynix_white.svg">

            <h3 class=" pt-5 h2 text-white">
              SMART ASSISTANT SYSTEM
            </h3>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div> -->
  </div>

  <div class=" container mt--5 pb-5">
    <div class=" row justify-content-center">
      <div class=" col-lg-5 col-md-7">
        <div class=" card bg-secondary border-0 mb-0">
          <div class=" card-header bg-transparent">
            <div class=" text-muted text-center mt-2 mb-2">
              <p class="text-primary" i18n>Sign in</p>
            </div>
          </div>

          <div class=" card-body px-lg-5 py-lg-5">


            <form role="form">
              <label *ngIf="error" class="text-danger" i18n>email & password not accepted</label>
              <div
                class="form-group mb-3"
                [ngClass]="{ focused: focus === true }"
              >
                <div class="input-group input-group">

                  <input
                    class="form-control"
                    [ngClass]="{'field-error': error === true}"
                    placeholder="E-Mail"
                    i18n-placeholder
                    type="text"
                    (focus)="focus = true"
                    (blur)="focus = false"
                    name="user"
                    [(ngModel)]="user"
                    required=true
                  />

                </div>

              </div>
              <div class="form-group" [ngClass]="{ focused: focus1 === true }">
                <div class="input-group input-group">

                  <input
                    class="form-control"
                    [ngClass]="{'field-error': error === true}"
                    placeholder="Password"
                    i18n-placeholder
                    [type]="showPassword ? 'text' : 'password'"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                    name="password"
                    [(ngModel)]="password"
                    required="true"
                  />
                  <div class="input-group-append">
                      <span class="input-group-text text-primary" [ngClass]="{'field-error': error === true}" (click)="showPassword = !showPassword"
                        ><i [ngClass]="showPassword ? 'far fa-eye' : 'far fa-eye-slash'"></i></span>
                    </div>
                </div>
              </div>
              <div
                class="custom-control custom-control-alternative custom-checkbox"
              >
                <input
                  class="custom-control-input"
                  id=" customCheckLogin"
                  type="checkbox"
                  [checked]="remember"
                  (change)="remember = !remember"
                />
                <label class="custom-control-label" for=" customCheckLogin">
                  <span i18n>Remember me</span>
                </label>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary my-4" type="submit" (click)="signIn()" i18n>Sign in</button>
              </div>
            </form>
          </div>
        </div>

        <div class=" row mt-3">
          <div class=" col-12">
            <!--<a class="text-white" href="javascript:void(0)">
              <small i18n>Forgot password?</small>
            </a>-->
            <small class="float-right text-white" i18n>Version: {{ version }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
