<div class=" header bg-default pb-7"  style="background-image: url(assets/img/theme/template.jpg); background-size: cover; background-position: center center;">
  <span class=" mask bg-gradient-primary opacity-7"> </span>
  <app-breadcrumb-header [breadCrumbs]=breadCrumbs ></app-breadcrumb-header>
</div>
<div class=" container-fluid mt--6" *ngIf="templates; else spinner">
  <div class=" row">
      <div class=" col padding-0-mobile">
          <ng-container *ngIf="!templates || templates.length<1; else elseTemplate" >
              <div>
                  <div class="alert alert-warning" role="alert">
                      <strong i18n>Warning!</strong><span i18n>You haven't created a process yet!</span>
                  </div>
              </div>
          </ng-container>

          <ng-template #elseTemplate >
              <div class="card">
                <div class="dataTables_wrapper py-4 container-fluid">
                  <div class="row">
                    <div class="col-4 col-sm-4">
                      <div class="dataTables_length" id="datatable_length">
                        <label>
                          <span i18n>Show</span>
                          <select
                            name="datatable_length"
                            aria-controls="datatable"
                            class="form-control form-control-sm"
                            (change)="entriesChange($event)"
                          >
                            <option value="5" [selected]="entries == 5">5</option>
                            <option value="10" [selected]="entries == 10">10</option>
                            <option value="25" [selected]="entries == 25">25</option>
                            <option value="50" [selected]="entries == 50">50</option>
                            <option value="-1" [selected]="entries == -1" i18n>All</option>
                          </select>
                          <span i18n>entries</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-4 col-sm-4 d-flex justify-content-center"></div>

                    <div class="col-4 col-sm-4 d-flex justify-content-end" style="padding-left: 2.5rem;">
                      <div id="datatable_filter" class="dataTables_filter" style="float: left; width:100%">
                        <label style="width: 100%;">
                          <input
                            type="search"
                            class="form-control form-control-sm"
                            placeholder="Search records"
                            i18n-placeholder
                            aria-controls="datatable"
                            [(ngModel)]="searchValue"
                            (keyup)="filterTable()"
                          />
                        </label>
                      </div>
                    </div>

                    <div class="col-12 col-md-12 mb-3 d-flex align-items-end justify-content-end " style="padding-right: 2.5rem;" [hideIfUnauthorized]="permissions.ORDER_EDIT">
                      <button [routerLink]="'/templates/process/new'" [queryParams]="{ return: 'manual' }" class="btn btn-icon btn-3 btn-default" type="button">
                        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                        <span class="btn-inner--text" i18n>Add new process manual</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-body pl-0 pr-0 pt-0">
                    <ngx-datatable
                        #myTable

                        class="bootstrap selection-cell"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [scrollbarH]="true"
                        [scrollbarV]="false"
                        [limit]="entries != -1 ? entries : undefined"
                        [rows]="visibleTemplates"
                    >
                    <!-- Row Detail Template -->
                    <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onActivate($event)">
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                        <div class="container-fluid">
                            <div class="row pl-2 pr-2">
                                <div class="col-12">
                                    <p> <span class="h4" i18n>ID:</span>  {{ row.id }}</p>
                                </div>
                                <div class="col-12">
                                  <p *ngIf="row.stepNames.length > 0"><span class="h4" i18n>Steps:</span>  {{ row.stepNames.join(', ') }}</p>
                                  <p *ngIf="row.stepNames.length == 0"><span class="h4" i18n>Steps:</span><span i18n>None</span></p>
                                </div>

                            </div>

                        </div>
                        </ng-template>
                    </ngx-datatable-row-detail>
                    <!-- Column Detail Templates -->
                    <ngx-datatable-column
                    [width]=50
                    [maxWidth]=50
                    [resizeable]="false"
                    [sortable]="false"
                    [draggable]="false"
                    [canAutoResize]="false"
                    [cellClass]="paddingLeftNone"

                    >
                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        <a
                            style="font-size: 30px;"
                            class="text-default pl-1"
                            href="javascript:void(0)"
                            [class.datatable-icon-up]="!expanded"
                            [class.datatable-icon-down]="expanded"
                            title="Expand/Collapse Row"
                            i18n-title
                            (click)="toggleExpandRow(row)"
                            >
                        </a>
                        </ng-template>
                    </ngx-datatable-column>
                      <!-- Name -->
                      <ngx-datatable-column  name="process name" i18n-name prop="name" [sortable]="true" >
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <p class="h3 text-default">
                              {{row.name}}
                          </p>
                        </ng-template>
                    </ngx-datatable-column>
                      <!-- Description -->
                      <!--<ngx-datatable-column  name="description" i18n-name prop="description" [sortable]="true" >
                        <ng-template let-row="row" ngx-datatable-cell-template>
                        <p class="">
                            {{row.description}}
                        </p>

                        </ng-template>
                      </ngx-datatable-column>-->

                      <!-- Created At -->
                      <ngx-datatable-column name="created at" i18n-name [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <p class="h3 text-default">
                            {{ (row.createdAt ? row.createdAt : '') | date: 'dd.MM.yyyy HH:mm:ss' }}
                          </p>
                        </ng-template>
                      </ngx-datatable-column>

                      <!-- Created By -->
                      <ngx-datatable-column name="created by" i18n-name [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <p class="h3 text-default">
                            {{ row.createdBy ? row.createdBy : '' }}
                          </p>
                        </ng-template>
                      </ngx-datatable-column>

                      <!-- Edited At -->
                      <ngx-datatable-column name="edited at" i18n-name [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <p class="h3 text-default">
                            {{ (row.editedAt ? row.editedAt : '') | date: 'dd.MM.yyyy HH:mm:ss ' }}
                          </p>
                        </ng-template>
                      </ngx-datatable-column>

                      <!-- Edited By -->
                      <ngx-datatable-column name="edited by" i18n-name [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <p class="h3 text-default">
                            {{ row.editedBy ? row.editedBy : '' }}
                          </p>
                        </ng-template>
                      </ngx-datatable-column>

                      <!-- Edit -->
                      <ngx-datatable-column name="edit" i18n-name [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>

                          <div [hideIfUnauthorized]="permissions.TEMPLATE_EDIT">
                            <button (click)="edit(row.id)" class="ml-1 mr-1 mt--1 btn btn-icon btn-2 btn-default" type="button">
                              <span class="btn-inner--icon"><i class="fas fa-pen"></i></span>
                            </button>
                          </div>

                        </ng-template>
                      </ngx-datatable-column>

                      <!-- View -->
                      <ngx-datatable-column name="view" i18n-name [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>

                          <div [hideIfUnauthorized]="permissions.MANUAL_VIEW">
                            <button (click)="openManual(row.id)" class="ml-1 mr-1 mt--1 btn btn-icon btn-2 btn-default" type="button">
                              <span class="btn-inner--icon"><i class="fas fa-book-open"></i></span>
                            </button>
                          </div>

                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
              </div>
          </ng-template>

      </div>
  </div>
</div>
<ng-template #spinner>
<app-spinner></app-spinner>
</ng-template>
