<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex="30">
          <span>Process: {{ processNode.id }} {{ processNode.name }}</span>
        </div>
        <div fxFlex="10">
          <img src="https://image.flaticon.com/icons/png/512/37/37232.png" height="40px">
        </div>
        <div fxFlex="20">
          Execution Time: {{ getFullTime(processNode.timeTaken) }}
        </div>
        <div fxFlex="20">
          Assignee: {{ processNode.assignedUser ? processNode.assignedUser.username : " None" }}
        </div>
        <div fxFlex="15">
          <button mat-icon-button *ngIf="processNode.status === 'assistance_required'">
            <mat-icon>headset_mic</mat-icon>
          </button>
          <button mat-icon-button *ngIf="processNode.status === 'in_preparation'">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="start()"
            *ngIf="processNode.canExecute && !processNode.isOccupied && (processNode.status === 'released' || processNode.status === 'in_progress')">
            <mat-icon>play_arrow</mat-icon>
          </button>
          <button mat-icon-button (click)="assign()"
            *ngIf="!processNode.assignedUser && processNode.status === 'released'">
            <mat-icon>person_add</mat-icon>
          </button>
          <button mat-icon-button *ngIf="processNode.status === 'completed'">
            <mat-icon>archive</mat-icon>
          </button>
          <button mat-icon-button *ngIf="processNode.status === 'completed'">
            <mat-icon>visibility</mat-icon>
          </button>
        </div>
        <div fxFlex="5">
          <button mat-icon-button *ngIf="processNode.selected === true" (click)="select()">
            <mat-icon>check_box</mat-icon>
          </button>
          <button mat-icon-button *ngIf="processNode.selected === false" (click)="select()">
            <mat-icon>check_box_outline_blank</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
