<div style="background-color:#f5f5f5;padding: 20px;">
  <mat-grid-list cols="5" rowHeight="80px" gutterSize="10px">
    <mat-grid-tile colspan="3" rowspan="1">
      <mat-card class="menu-group">
        <!--<mat-card-header>
          <mat-card-title>General</mat-card-title>
          <mat-card-subtitle>General process information</mat-card-subtitle>
        </mat-card-header>-->
        <mat-card-content>
          <div fxLayout="row" style="margin-left: 15px;margin-right: 15px;">
            <div>
              <h4>Title: </h4>
              <span>{{ step.title }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="menu-group">
        <!--<mat-card-header>
          <mat-card-title>General</mat-card-title>
          <mat-card-subtitle>General process information</mat-card-subtitle>
        </mat-card-header>-->
        <mat-card-content>
          <div fxLayout="row" style="margin-left: 15px;margin-right: 15px;">
            <div>
              <h4>Time: </h4>
              <span>{{ getFullTime(step.timeTaken) }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="2">
      <mat-card class="menu-group">
        <!--<mat-card-header>
          <mat-card-title>General</mat-card-title>
          <mat-card-subtitle>General process information</mat-card-subtitle>
        </mat-card-header>-->
        <mat-card-content>
          <div fxLayout="row" fxLayoutGap="20px" style="margin-left: 15px;margin-right: 15px;">
            <div fxFlex="50">
              <h4>Materials: </h4>
              <div *ngFor="let material of step.materials">
                <mat-card>{{ material }}</mat-card>
              </div>
            </div>
            <div fxFlex="50">
              <h4>Tools: </h4>
              <div *ngFor="let tool of step.toolIds">
                <mat-card>{{ tool }}</mat-card>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="2">
      <mat-card class="menu-group">
        <!--<mat-card-header>
          <mat-card-title>General</mat-card-title>
          <mat-card-subtitle>General process information</mat-card-subtitle>
        </mat-card-header>-->
        <mat-card-content>
          <div fxLayout="row" style="margin-left: 15px;margin-right: 15px;">
            <div>
              <h4>Key Message: </h4>
              <span>{{ step.keyMessage }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
      <mat-card class="menu-group">
        <!--<mat-card-header>
          <mat-card-title>General</mat-card-title>
          <mat-card-subtitle>General process information</mat-card-subtitle>
        </mat-card-header>-->
        <mat-card-content>
          <div fxLayout="row" style="margin-left: 15px;margin-right: 15px;">
            <div>
              <h4>Pictures: </h4>
              <div fxLayout="column">
                <div *ngIf="step.pictureUris.length > 0">
                  <img *ngIf="step.pictureUris.length > 0" [src]="step.pictureUris[currentImageIndex]">
                </div>
                <div *ngIf="step.pictureUris.length === 0">
                  <h2>There are no pictures yet</h2>
                </div>
                <div *ngIf="step.pictureUris.length > 0">
                  <mat-paginator [length]="step.pictureUris.length"
                    hidePageSize="true"
                    (page)="changeImageIndex($event)">
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="2">
      <mat-card class="menu-group">
        <!--<mat-card-header>
          <mat-card-title>General</mat-card-title>
          <mat-card-subtitle>General process information</mat-card-subtitle>
        </mat-card-header>-->
        <mat-card-content>
          <div fxLayout="row" style="margin-left: 15px;margin-right: 15px;">
            <div>
              <h4>Tasks: </h4>
              <span>{{ step.tasks }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
      <mat-card class="menu-group">
        <!--<mat-card-header>
          <mat-card-title>General</mat-card-title>
          <mat-card-subtitle>General process information</mat-card-subtitle>
        </mat-card-header>-->
        <mat-card-content>
          <div fxLayout="row" style="margin-left: 15px;margin-right: 15px;">
            <div>
              <h4>Videos: </h4>
              <span *ngFor="let video of step.videoUris">{{ video }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
