<h2 mat-dialog-title>Process Templates</h2>
<mat-dialog-content>
  <mat-form-field style="width: 100%;">
    <mat-label>Filter</mat-label>
    <input matInput [(ngModel)]="filter" (keyup)="applyFilter()" placeholder="Search..." #input>
  </mat-form-field>
  <div>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows style="width: 100%;">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let process"> {{ process.id }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let process"> {{ process.name }} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let process" [attr.colspan]="displayedColumns.length">
          <div [@detailExpand]="process.id == selectedProcessId ? 'expanded' : 'collapsed'" style="overflow: hidden;display: flex;">
            <div>
              <span style="font-size: 1em;">Steps:</span><br>
              <span *ngIf="!process.stepTemplates|| process.stepTemplates.length === 0">No steps added yet</span>
              <div *ngIf="process.stepTemplates">
                <ul>
                  <li *ngFor="let step of process.stepTemplates">{{ step.title }}</li>
                </ul>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let process; columns: displayedColumns;"
        (click)="selectProcess(process.id)" class="process-row" [class.selected-process-row]="process.id === selectedProcessId">
      </tr>
      <tr mat-row *matRowDef="let expandedDetail; columns: ['expandedDetail']" style="height: 0;background: #efefef"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow>
        <td colspan="4">
          <div style="padding-top: 10px;">
            <span *ngIf="processes && processes.length > 0">No processes matching the filter "{{ filter }}"</span>
            <span *ngIf="!processes || processes.length === 0">No processes defined yet</span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
    <div>
      <button mat-button mat-dialog-close>Cancel</button>
    </div>
    <div *ngIf="!selectedProcessId">
      <button mat-button [mat-dialog-close]="true">New</button>
    </div>
    <div *ngIf="selectedProcessId">
      <button mat-button [mat-dialog-close]="selectedProcessId">Select</button>
    </div>
  </div>
</mat-dialog-actions>

