tr.process-row:not(.selected-process-row):hover {
  background: whitesmoke;
}

tr.process-row:not(.selected-process-row):active {
  background: #efefef;
}

.process-row td {
  border-bottom-width: 0;
}

.selected-process-row td {
  background: #efefef;
}
