<h1 mat-dialog-title>New Tool</h1>
<div mat-dialog-content>
  <form>
    <table cellspacing="0" style="width: 100%">
      <tr>
        <td>
          <mat-form-field style="width: 100%;">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="toolDraft.name" required name="name">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancle</button>
  <button mat-button [mat-dialog-close]="toolDraft" cdkFocusInitial>Create</button>
</div>
