<app-nav title="Order Draft"></app-nav>
<div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px" style="height: 80vh;width: 100%">
  <div style="width: 100%;">
    <app-order-tab [(orderDraft)]="orderDraft"></app-order-tab>
  </div>
  <div style="width: 100%;">
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutGap="60px" style="padding-top: 10px;">
      <div style="text-align: center;">
        <button mat-icon-button (click)="discardDraft()" style="height: 60px;width: 60px;">
          <mat-icon style="transform: scale(2.5);">close</mat-icon>
        </button>
        <h5>Cancle</h5>
      </div>
      <div style="text-align: center;">
        <button mat-icon-button (click)="deleteDraft()" style="height: 60px;width: 60px;">
          <mat-icon style="transform: scale(2.5);">delete</mat-icon>
        </button>
        <h5>Delete</h5>
      </div>
      <div style="text-align: center;">
        <button mat-icon-button (click)="saveDraft()" style="height: 60px;width: 60px;">
          <mat-icon style="transform: scale(2.5);">save</mat-icon>
        </button>
        <h5>Save</h5>
      </div>
      <div *ngIf="orderDraft.id" style="text-align: center;">
        <button mat-icon-button (click)="publishDraft()" style="height: 60px;width: 60px;">
          <mat-icon style="transform: scale(2.5);">publish</mat-icon>
        </button>
        <h5>Publish</h5>
      </div>
    </div>
  </div>
</div>
