tr.product-row:not(.selected-product-row):hover {
  background: whitesmoke;
}

tr.product-row:not(.selected-product-row):active {
  background: #efefef;
}

.product-row td {
  border-bottom-width: 0;
}

.selected-product-row td {
  background: #efefef;
}
