<mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedTab" (selectedIndexChange)="selectTab($event)">
  <mat-tab label="Product: {{ productTemplate.name }}">
    <div style="margin-top: 30px;padding-bottom: 10px;">
      <div fxLayout="row">
        <div fxFlex="40">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="productTemplate.name" name="name">
          </mat-form-field>
        </div>
        <div fxFlex="55">
          <h2>Processes</h2>
          <h4>Add processes to Product</h4>
          <div fxLayout="column" fxLayoutGap="5px" style="margin-left: 16px;">
            <div *ngFor="let process of productTemplate.processes; let i = index">
              <div fxLayout="row">
                <div fxFlex="30">
                  <h3>{{ process.template.name }}</h3>
                </div>
                <div fxFlex="15">
                  <mat-form-field style="width: 50px;">
                    <mat-label>Quantity</mat-label>
                    <input matInput [ngModel]="process.quantity" (ngModelChange)="process.quantity = $event ? $event : 1" type="tel" name="quantity">
                  </mat-form-field>
                </div>
                <div fxFlex="35">
                </div>
                <div fxFlex="8">
                  <button mat-icon-button aria-label="Edit" (click)="editProcess(i)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                <div fxFlex="8">
                  <button mat-icon-button aria-label="Remove" (click)="removeProcess(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 10px;">
            <div>
              <button mat-mini-fab color="primary" (click)="addProcess()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <div *ngFor="let process of productTemplate.processes; let i = index">
    <mat-tab [label]="process.template.name">
      <app-process-template-tab [(processTemplate)]="productTemplate.processes[i].template" [(selectedTab)]="subSelect"></app-process-template-tab>
      <span></span>
    </mat-tab>
  </div>
</mat-tab-group>
