
<div class=" header bg-default pb-7"  style="background-image: url(assets/img/theme/order.jpg); background-size: cover; background-position: center center;">
  <span class=" mask bg-gradient-primary opacity-7"> </span>
  <app-breadcrumb-header [breadCrumbs]=breadCrumbs ></app-breadcrumb-header>
</div>
<div class="container-fluid mt--6" *ngIf="stats; else spinner">
    <div class="row">
        <div class="col">
            <div class="card">
              <div class="card-body pl-0 pr-0 pt-0 mt-3">
                <div class="row">
                  <!-- Users -->
                  <div class="col-12 col-xl-4 col-md-6 col-sm-6">
                    <div class="card card-static-strong-shadow ml-2 mr-2 pl-0 pr-0">
                      <div class="d-flex align-items-center justify-content-between card-header pr-3 header-card-strong-border-and-position" style="background-image: url(assets/img/theme/order.jpg); background-size: cover; background-position: center center;" >
                          <span class="mask bg-gradient-default opacity-8"> </span>

                          <h5 class="h3 mb-0 z-index-1 text-white text-uppercase" i18n>Users</h5>
                          <div class="z-index-1">
                            <div class=" icon icon-shape bg-gradient-primary text-white rounded-circle shadow icon-padding">
                               <i class="icon icon-folder-shared icon-big"></i>
                            </div>
                          </div>
                      </div>
                      <div class=" card-body p-0">
                        <div class=" table-responsive">
                          <table class=" table align-items-center table-flush">
                            <thead class=" thead-light">
                              <tr>
                                <th class=" sort" data-sort="name" scope="col" i18n>Name</th>
                                <th class=" sort" data-sort="role" scope="col" i18n>Status</th>
                                <th class=" sort" data-sort="role" scope="col" i18n>Role</th>
                              </tr>
                            </thead>

                            <tbody class=" list">
                              <tr *ngFor="let user of users">
                                <th scope="row">
                                  <div class=" media align-items-center">
                                    <div class=" media-body">
                                      <span class=" name mb-0 text-sm">
                                        {{ user.name }}
                                      </span>
                                    </div>
                                  </div>
                                </th>
                                <td>{{ user.status }}</td>
                                <td>{{ user.role }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Orders -->
                  <div class="col-12 col-xl-4 col-md-6 col-sm-6">
                    <div class="card card-static-strong-shadow ml-2 mr-2 pl-0 pr-0">
                      <div class="d-flex align-items-center justify-content-between card-header pr-3 header-card-strong-border-and-position" style="background-image: url(assets/img/theme/process.jpg); background-size: cover; background-position: center center;" >
                          <span class="mask bg-gradient-default opacity-8"> </span>

                          <h5 class="h3 mb-0 z-index-1 text-white text-uppercase" i18n>Orders</h5>
                          <div class="z-index-1">
                            <div class=" icon icon-shape bg-gradient-primary text-white rounded-circle shadow icon-padding">
                              <i class=" icon icon-hierarchy-56 icon-big" > </i>
                            </div>
                          </div>
                      </div>
                      <div class=" card-body p-0">
                        <canvas class="mt-3" #orderNow> </canvas>
                        <canvas class="mt-3" #orderHistory> </canvas>
                      </div>
                    </div>
                  </div>

                  <!-- Processes -->
                  <div class="col-12 col-xl-4 col-md-6 col-sm-6">
                    <div class="card card-static-strong-shadow ml-2 mr-2 pl-0 pr-0">
                      <div class="d-flex align-items-center justify-content-between card-header pr-3 header-card-strong-border-and-position" style="background-image: url(assets/img/theme/template.jpg); background-size: cover; background-position: center center;" >
                          <span class="mask bg-gradient-default opacity-8"> </span>

                          <h5 class="h3 mb-0 z-index-1 text-white text-uppercase" i18n>Processes</h5>
                          <div class="z-index-1">
                            <div class=" icon icon-shape bg-gradient-primary text-white rounded-circle shadow icon-padding">
                              <i class=" icon icon-configuration-tool icon-big"> </i>
                            </div>
                          </div>
                      </div>
                      <div class=" card-body p-0">
                        <canvas class="mt-3" #processNow> </canvas>
                        <canvas class="mt-3" #processHistory> </canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
