<!-- Desktop View -->
<nav class="navbar navbar-expand-lg sticky desktop_nav navigation_bar">
  <div class="d-flex justify-content-between" style="width: 100%;">
    <a class="navbar-brand mr-5" routerLink="/dashboard"><img style="object-fit: scale-down;" src="assets/img/Logo_Lynix_RGB.svg"></a>
    <div>
      <img *ngIf="user && user.companyLogo" style="height: 80%;" [src]="user.companyLogo">
    </div>

    <p class="d-none d-lg-block text-default" style="padding-top:10px"> SMART ASSISTANT SYSTEM </p>

    <div class="navbar-toggle">
      <div class="menu-icon-margin">
          <i class="fas fa-bars" style="font-size: 36px;" (click)="openNavigation()"></i>
      </div>
    </div>
  </div>
</nav>



  <!-- Navbar -->
  <a  class="overlay-sidebar-header" [class.show]="navBar" (click)="closeOverlay()"></a>
  <div class="sidenav" [class.open]="navBar">
    <nav [class.openSidebar]="openSide" *ngIf="user" >

        <div class="col-12 pl-4" style="padding-top:20px">
          <div  class="avatar rounded-circle" style=" background-color: aliceblue;">
            <img alt="Image placeholder image-fit-round"  class="image-fit-round"
            style="" width="50" height="50"  [src]="(user.avatar) ? user.avatar :  'assets/img/nopicture.png'">

        </div>

          <h4 class="mb-0">{{ user.firstName + ' ' + user.lastName}}</h4>
          <h5 class="text-muted">{{ user.role.name }}</h5>
        </div>
        <nav>
            <ul class="navbar-nav" style="padding-top:20px">
              <li class="nav-item active card menu-card-bottom-margin zooming" (click)="logout()">
                <a class="nav-link menu-card-a-padding">
                  <div class="d-flex align-items-center">
                    <i class="icon icon-log-out icon-big item-icon mt--1"></i><span i18n>Logout</span>
                  </div>
                </a>


              </li>

              <li class="nav-item dropdown card menu-card-bottom-margin zooming ">
                <a class="nav-link dropdown-toggle menu-card-a-padding" style="white-space: normal !important;" href="javascript:void(0)" (click)="setActive('order')" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="d-flex align-items-center">
                    <i class="icon icon-hierarchy-56 icon-big item-icon mt--1"></i> <span i18n>Order</span>
                  </div>
                </a>
                <div class="dropdown-menu" [class.show]="isActive('order')" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item h4 zooming" routerLink="/orders/overview" [hideIfUnauthorized]="permissions.ORDER_VIEW" i18n>Overview</a>
                <a class="dropdown-item h4 zooming" routerLink="/orders/draft" [hideIfUnauthorized]="permissions.ORDER_EDIT" i18n>Create New</a>

                </div>
              </li>
              <li class="nav-item dropdown card menu-card-bottom-margin zooming ">
                <a class="nav-link dropdown-toggle menu-card-a-padding" style="white-space: normal !important;" href="javascript:void(0)" (click)="setActive('process')" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="d-flex align-items-center">
                    <i class="icon icon-configuration-tool icon-big item-icon mt--1"></i> <span i18n>Process</span>
                  </div>
                </a>
                <div class="dropdown-menu" [class.show]="isActive('process')" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item h4 zooming" routerLink="/processes/overview" [hideIfUnauthorized]="permissions.PROCESS_VIEW"  i18n>Overview</a>

                </div>
              </li><li class="nav-item dropdown card menu-card-bottom-margin zooming " [hideIfUnauthorized]="permissions.TEMPLATE_VIEW">
                <a class="nav-link dropdown-toggle menu-card-a-padding" style="white-space: normal !important;" href="javascript:void(0)" (click)="setActive('template')" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="d-flex align-items-center">
                    <i class="icon icon-web-design-2 icon-big item-icon mt--1"></i> <span i18n>Template</span>
                  </div>
                </a>
                <div class="dropdown-menu" [class.show]="isActive('template')" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item h4 zooming" routerLink="/templates/product" i18n>Product</a>
                <a class="dropdown-item h4 zooming" routerLink="/templates/process" i18n>Process</a>
                <!--<a class="dropdown-item h4 zooming" i18n>Tools</a>-->


                </div>
              </li><li class="nav-item dropdown card menu-card-bottom-margin zooming " [hideIfUnauthorized]="permissions.MANUAL_VIEW">
                <a class="nav-link dropdown-toggle menu-card-a-padding" style="white-space: normal !important;" href="javascript:void(0)" (click)="setActive('manual')" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="d-flex align-items-center">
                    <i class="icon icon-web-design-2 icon-big item-icon mt--1"></i> <span i18n>Manual</span>
                  </div>
                </a>
                <div class="dropdown-menu" [class.show]="isActive('manual')" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item h4 zooming" routerLink="/manuals/overview" [hideIfUnauthorized]="permissions.MANUAL_VIEW" i18n>Overview</a>
                <a class="dropdown-item h4 zooming" routerLink="/templates/process/new" [hideIfUnauthorized]="permissions.TEMPLATE_EDIT" i18n>Create New</a>
                <!--<a class="dropdown-item h4 zooming" i18n>Tools</a>-->


                </div>
              </li><li class="nav-item dropdown card menu-card-bottom-margin zooming ">
                <a class="nav-link dropdown-toggle menu-card-a-padding" style="white-space: normal !important;" href="javascript:void(0)" (click)="setActive('admin')" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="d-flex align-items-center">
                    <i class="icon icon-folder-shared icon-big item-icon mt--1"></i> <span i18n>Administration</span>
                  </div>

                </a>
                <div class="dropdown-menu" [class.show]="isActive('admin')" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item h4 zooming" routerLink="/users" [hideIfUnauthorized]="permissions.USER_VIEW" i18n>Users</a>
                <a class="dropdown-item h4 zooming" routerLink="/roles" [hideIfUnauthorized]="permissions.ROLE_VIEW" i18n>Roles</a>

                </div>
              </li>
              <li class="nav-item dropdown card menu-card-bottom-margin zooming " [hideIfUnauthorized]="permissions.STATISTIC_VIEW">
                <a class="nav-link dropdown-toggle menu-card-a-padding" style="white-space: normal !important;" href="javascript:void(0)" (click)="setActive('statistics')" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="d-flex align-items-center">
                    <i class="icon icon-folder-shared icon-big item-icon mt--1"></i> <span i18n>Statistics</span>
                  </div>

                </a>
                <div class="dropdown-menu" [class.show]="isActive('statistics')" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item h4 zooming" routerLink="/statistics/overview" i18n>Overview</a>

                </div>
              </li>


              </ul>
        </nav>
        <div class="col-12 pl-4 mt-3">
          <small i18n>Version: {{ version }}</small>
        </div>
    </nav>
  </div>
