<div class=" header bg-default pb-7"  style="background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center center;">
    <span class=" mask bg-gradient-primary opacity-7"> </span>
    <app-breadcrumb-header [breadCrumbs]=breadCrumbs ></app-breadcrumb-header>
</div>
<div *ngIf="this.userDetail">
  <div class=" container-fluid mt--6">
    <div class=" row">
        <div class=" col">
            <div class="card p-4">
                <div class="container-fluid">
                    <div class="row" *ngIf="this._userDetail">
                        <div class="col-sm-12 col-md-4" (click)="s()">
                            <div  class="avatar rounded-circle" style="width: 150px; height: 150px; background-color: aliceblue;">
                                <img alt="Image placeholder image-fit-round"  class="image-fit-round"
                                style=""  [src]="userDetail.avatar ? userDetail.avatar :  'assets/img/nopicture.png'">
                                <span *ngIf="!userDetail.avatar" class="badge badge-warning" style="position: fixed;
                                margin-top: 40px;" i18n>No picture available</span>
                            </div>
                            <form>
                            <div class="custom-file pb-2">
                                <input type="file" class="custom-file-input" accept="image/png, image/jpeg" (change)="selectAvatar($event)" #imageInput lang="en">
                                <label class="custom-file-label" for="customFileLang" i18n>Add new Picture</label>
                            </div>
                            </form>

                        </div>
                        <div class="col-sm-12 col-md-8">
                            <app-single-multiple-choice  [(result)]="selectedRole" [(fieldInformation)]=roleField  [isMultipleChoice]=false [inputCheckForError]=checkForError  [isSearchable]=true [inputRequired]=true [data]="availabelRolesSelection" [allowUserCreateOption]="false" placeholder="select a role" i18n-placeholder> </app-single-multiple-choice>
                            <app-text-field [(result)]=userDetail.username [(fieldInformation)]="usernameField" [inputRequired]=true [inputType]="'text'" [inputCheckForError]=checkForError> </app-text-field>
                            <app-text-field [(result)]=userDetail.firstName [(fieldInformation)]="firstname" [inputRequired]=true [inputType]="'text'" [inputCheckForError]=checkForError> </app-text-field>
                            <app-text-field [(result)]=userDetail.lastName [(fieldInformation)]="lastname" [inputRequired]=true [inputType]="'text'" [inputCheckForError]=checkForError> </app-text-field>
                            <app-text-field [(result)]=userDetail.password [(fieldInformation)]="password" [inputRequired]=true [inputType]="'password'" [inputCheckForError]=checkForError> </app-text-field>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-bottom-navigation-order-draft>
    <div [ngClass]="(userDetail.id != undefined) ? 'd-flex justify-content-between' : 'd-flex justify-content-around'" style="width: 100%;">
        <div>
            <button class="btn btn-icon btn-3 btn-white none-shadow" type="button" (click)="cancelModal()">
                <span class="btn-inner--icon"><i style="font-size: 30px;" class="fas fa-times"></i></span> <br>
                <span class="btn-inner--text ml-0" i18n>Cancel</span>
              </button>
        </div>
        <div>
            <button class="btn btn-icon btn-3 btn-white none-shadow" type="button" (click)="save()">
                <span class="btn-inner--icon"><i style="font-size: 30px;" class="far fa-save"></i></span> <br>
                <span class="btn-inner--text ml-0" i18n>Save</span>
              </button>
        </div>

        <div *ngIf="userDetail.id != undefined">
            <button class="btn btn-icon btn-3 btn-white none-shadow" type="button" (click)="deleteModal()">
                <span class="btn-inner--icon"><i style="font-size: 30px;" class="fas fa-trash-alt"></i></span> <br>
                <span class="btn-inner--text ml-0" i18n>Delete</span>
              </button>
        </div>
    </div>
  </app-bottom-navigation-order-draft>
</div>

