<div class=" header bg-default pb-7"  style="background-image: url(assets/img/theme/template.jpg); background-size: cover; background-position: center center;">
  <span class=" mask bg-gradient-primary opacity-7"> </span>
  <app-breadcrumb-header [breadCrumbs]=breadCrumbs></app-breadcrumb-header>
</div>
<div class=" container-fluid mt--7" *ngIf="productTemplate; else spinner">
  <app-component-view [component]="productTemplate" [topType]="'product'" [(isEdited)]="isEdited"
    [(processToggleIndex)]="processToggleIndex" [(stepToggleIndex)]="stepToggleIndex" [(currentComponent)]="currentComponent"
    (breadcrumbsChange)="updateBreadCrumb($event)"></app-component-view>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
<app-bottom-navigation-order-draft>
  <div class="d-flex justify-content-between" style="width: 100%;">
      <div>
          <button class="btn btn-icon btn-3 btn-white none-shadow" type="button" (click)="cancelModal()">
              <span class="btn-inner--icon"><i style="font-size: 30px;" class="fas fa-times"></i></span> <br>
              <span class="btn-inner--text ml-0" i18n>Cancel</span>
            </button>
      </div>
      <div>
          <button class="btn btn-icon btn-3 btn-white none-shadow" type="button" (click)="saveDraft()">
              <span class="btn-inner--icon"><i style="font-size: 30px;" class="far fa-save"></i></span> <br>
              <span class="btn-inner--text ml-0" i18n>Save</span>
            </button>
      </div>
      <div>
          <button class="btn btn-icon btn-3 btn-white none-shadow" type="button" (click)="deleteModal()">
              <span class="btn-inner--icon"><i style="font-size: 30px;" class="fas fa-trash-alt"></i></span> <br>
              <span class="btn-inner--text ml-0" i18n>Delete</span>
            </button>
      </div>
  </div>
</app-bottom-navigation-order-draft>
