<div class="row">
    <div class="col-12">
        <div class="card shadow-card-stronger p-3">
            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="process.currentStepIndex != stepIndex">
                <span class="alert-inner--text"><strong i18n>Warning!</strong><span i18n>If you want to start this process step, please switch!</span></span>
                <button type="button" (click)="showAlert=false" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="process.currentStepIndex == stepIndex && !process.isRunning ">

                <span class="alert-inner--text"><strong i18n>Warning!</strong><span i18n>If you want to start this process step, please press "start"!</span></span>
                <button type="button" (click)="showAlert=false" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            <div class="row">
              <ng-container  *ngIf="process.currentStepIndex !== null && process.steps[stepIndex] as currentStep">
                <div class="col">
                  <p><span class="h4" i18n>Time Taken:</span>  {{ getFullTime(currentStep.timeTaken) }}</p>
                </div>
                <div class="col">
                  <p> <span class="h4" i18n>Estimated Time:</span> {{ getFullTime(currentStep.estimatedTime) }} </p>
                </div>
              </ng-container>
            </div>
            <div class="row">
              <div class="col">
                <p> <span class="h4" i18n>Total Time Taken:</span> {{ getFullTime(process.timeTaken) }} </p>
              </div>
              <div class="col">
                <p> <span class="h4" i18n>Total Estimated Time:</span> {{ getFullTime(process.estimatedTime) }} </p>
              </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm">
        <div class=" card shadow-card-stronger p-3 " >
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h4 i18n>Materials</h4>
                        <ul class="list-group list-item-no-full-border pt-2 pb-2">
                            <ng-container *ngFor="let item of process.steps[stepIndex].materials ; let i=index; let first = first; let last = last">
                                <li class="list-group-item list-item-no-sideborder" [ngClass]="{'no-border-top':first, 'no-border-bottom':last}" >{{item}}</li>
                            </ng-container>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm">
        <div class=" card shadow-card-stronger p-3 " >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <h4 i18n>Tools
                        </h4>
                        <ul class="list-group list-item-no-full-border pt-2 pb-2">
                            <ng-container *ngFor="let item of process.steps[stepIndex].toolIds ; let i=index; let first = first; let last = last">
                                <li class="list-group-item list-item-no-sideborder" [ngClass]="{'no-border-top':first, 'no-border-bottom':last}" >{{item}}</li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <ng-container>
                <ng-container>
                    <div class="col-sm-12 col-md">
                        <div class=" card shadow-card-stronger p-3 " >
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <h4 i18n>Key Message</h4>
                                        <app-text-area [result]="process.steps[stepIndex].keyMessage" [disabled]=true> </app-text-area>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </ng-container>
            </ng-container>
            <ng-container>
                <ng-container>
                    <div class="col-sm-12 col-md">
                        <div class=" card shadow-card-stronger p-3 " >
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <h4 i18n>Tasks</h4>
                                        <app-text-area [result]="process.steps[stepIndex].tasks" [disabled]=true> </app-text-area>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </ng-container>
            </ng-container>
        </div>

    </div>
    <div class="container-fluid">

        <div class="row">
            <ng-container>
                <div class="col-sm-12 col-md">
                    <div class=" card shadow-card-stronger p-3 ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col" >
                                    <h4 i18n>Pictures</h4>
                                    <carousel>
                                        <slide *ngFor="let picture of process.steps[stepIndex].pictureUris; let i=index" >
                                          <img [src]="picture" alt="first slide" style="display: block;" class="object-fit-cover">

                                        </slide>
                                      </carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container>

                <div class="col">
                    <div class=" card shadow-card-stronger p-3 " >
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col" >
                                    <h4 i18n>Videos</h4>
                                    <carousel>
                                        <slide *ngFor="let video of process.steps[stepIndex].videoUris; let i=index" >
                                            <video width="100%">
                                                <source [src]="video">
                                            </video>
                                        </slide>
                                    </carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>

</div>
