<div class="row">
    <div class="col-12">
        <div class="card shadow-card-stronger p-3">
            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="process.currentStepIndex != stepIndex">
                <span class="alert-inner--text"><strong>Warning!</strong> If you want to start this process step, please switch!</span>
                <button type="button" (click)="showAlert=false" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="process.currentStepIndex == stepIndex && !process.isRunning ">

                <span class="alert-inner--text"><strong>Warning!</strong> If you want to start this process step, please press "start"!</span>
                <button type="button" (click)="showAlert=false" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            <ng-container  *ngIf="process.currentStepIndex !== null && process.steps[stepIndex] as currentStep">
                <p>
                   <span class="h4"> Time Spend on current step:</span>  {{ getFullTime(currentStep.timeTaken) }}
                </p>
            </ng-container>


            <p> <span class="h4"> Total time: </span> {{ getFullTime(process.timeTaken) }} </p>
        </div>
    </div>
    <div class="col-12 col-sm" *ngIf="process.steps[stepIndex].materials.length>0">
        <div class=" card shadow-card-stronger p-3 " >
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h4>
                            Materials
                        </h4>
                        <ul class="list-group list-item-no-full-border pt-2 pb-2">
                            <ng-container *ngFor="let item of process.steps[stepIndex].materials ; let i=index; let first = first; let last = last">
                                <li class="list-group-item list-item-no-sideborder" [ngClass]="{'no-border-top':first, 'no-border-bottom':last}" >{{item}}</li>
                            </ng-container>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm" *ngIf="process.steps[stepIndex].materials.length>0">
        <div class=" card shadow-card-stronger p-3 " >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <h4>
                            Tools
                        </h4>
                        <ul class="list-group list-item-no-full-border pt-2 pb-2">
                            <ng-container *ngFor="let item of process.steps[stepIndex].toolIds ; let i=index; let first = first; let last = last">
                                <li class="list-group-item list-item-no-sideborder" [ngClass]="{'no-border-top':first, 'no-border-bottom':last}" >{{item}}</li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <ng-container *ngIf="process.steps[stepIndex].keyMessage" >
                <ng-container *ngIf="!checkIfTextAreaIsEmpty(process.steps[stepIndex].keyMessage)">
                    <div class="col-sm-12 col-md">
                        <div class=" card shadow-card-stronger p-3 " >
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <h4>
                                            Key Message
                                        </h4>
                                        <app-text-area [result]="process.steps[stepIndex].keyMessage" [disabled]=true> </app-text-area>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </ng-container>
            </ng-container>
            <ng-container *ngIf="process.steps[stepIndex].tasks " >
                <ng-container *ngIf="!checkIfTextAreaIsEmpty(process.steps[stepIndex].tasks)">
                    <div class="col-sm-12 col-md">
                        <div class=" card shadow-card-stronger p-3 " >
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <h4>
                                            Tasks
                                        </h4>
                                        <app-text-area [result]="process.steps[stepIndex].tasks" [disabled]=true> </app-text-area>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </ng-container>
            </ng-container>
        </div>

    </div>
    <div class="container-fluid">

        <div class="row">
            <ng-container *ngIf="process.steps[stepIndex].pictureUris">
                <div class="col-sm-12 col-md"  *ngIf="process.steps[stepIndex].pictureUris.length !== 0">
                    <div class=" card shadow-card-stronger p-3 ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col" >
                                    <h4>
                                        Pictures
                                    </h4>
                                    <carousel>
                                        <slide *ngFor="let picture of process.steps[stepIndex].pictureUris; let i=index" >
                                          <img [src]="picture" alt="first slide" style="display: block;" class="object-fit-cover">

                                        </slide>
                                      </carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="process.steps[stepIndex].videoUris">

                <div class="col" *ngIf="process.steps[stepIndex].videoUris.length !== 0">
                    <div class=" card shadow-card-stronger p-3 " >
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col" >
                                    <h4>
                                        Videos
                                    </h4>
                                    <carousel>
                                        <slide *ngFor="let video of process.steps[stepIndex].videoUris; let i=index" >
                                            <video width="100%">
                                                <source [src]="video">
                                            </video>
                                        </slide>
                                    </carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>

</div>
