<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex="80">
          <span>{{ templateNode.id }} - {{ templateNode.name }}</span><br>
          <ol>
            <li *ngFor="let process of templateNode.processes">
              <a>{{ process.id }} - {{ process.name }}</a>
            </li>
          </ol>
        </div>
        <div fxFlex="15">
          <button mat-icon-button (click)="edit()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div fxFlex="5">
          <button mat-icon-button *ngIf="templateNode.selected === true" (click)="select()">
            <mat-icon>check_box</mat-icon>
          </button>
          <button mat-icon-button *ngIf="templateNode.selected === false" (click)="select()">
            <mat-icon>check_box_outline_blank</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
