<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex="80">
          <span>{{ tool.id }} - {{ tool.name }}</span>
        </div>
        <div fxFlex="20">
          <button mat-icon-button (click)="edit()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
