<mat-toolbar>
    <button mat-icon-button aria-label="Menu" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Settings">
        <mat-icon>filter_alt</mat-icon>
    </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <div style="padding:10px;">
        <div fxLayout="row" style="height:120px;width:100%;margin:auto;padding: 10px;">
            <div fxFlex="40">
                <!--<img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Circle-icons-profile.svg">-->
                <img src="{{ user.avatar }}" width="100%">
            </div>
            <div fxFlex="60">
                <div style="padding-left: 20px;">
                    <div fxLayout="column" fxLayoutAlign="start start" style="height: 100%;">
                        <h5>{{ user.username }}</h5>
                        <h5>{{ user.firstName + ' ' + user.lastName }}</h5>
                        <button (click)="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
        <a mat-menu-item href="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
        <a mat-menu-item href="/orders/overview">
            <mat-icon>list_alt</mat-icon>
            <span>Work Order Overview</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-menu-item href="/processes/overview">
            <mat-icon>developer_board</mat-icon>
            <span>Process Overview</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-menu-item href="/templates/product">
            <mat-icon>square_foot</mat-icon>
            <span>Product Templates</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-menu-item href="/templates/process">
            <mat-icon>square_foot</mat-icon>
            <span>Process Templates</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-menu-item href="/tools">
            <mat-icon>construction</mat-icon>
            <span>Tool Library</span>
        </a>
        <mat-divider></mat-divider>
        <button mat-menu-item>
            <mat-icon>self_improvement</mat-icon>
            <span>Continuous Improvements</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
            <mat-icon>local_library</mat-icon>
            <span>Library</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>
    </div>
</mat-menu>
