<div class=" header bg-default pb-7"  style="background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center center;">
  <span class=" mask bg-gradient-primary opacity-7"> </span>
  <app-breadcrumb-header [breadCrumbs]=breadCrumbs ></app-breadcrumb-header>
</div>
<div class=" container-fluid mt--6" *ngIf="roleRows; else spinner">
  <div class=" row">
      <div class=" col">
          <div class="card">
              <div class="container-fluid">
                  <div class="row p-3">
                      <div class="d-flex justify-content-between" style="width: 100%;">
                          <div id="datatable_filter" class="dataTables_filter search" type="search" style="float: left; width:50%">
                              <label style="width: 100%;">
                                <input
                                  type="search"
                                  class="form-control form-control-sm"
                                  placeholder="Search records"
                                  i18n-placeholder
                                  aria-controls="datatable"
                                  [(ngModel)]="searchValue"
                                  (keyup)="filterTable()"
                                  (mouseup)="filterTable()"
                                />
                              </label>
                            </div>
                      </div>


                  </div>
              </div>

              <div class="table-resposive-phone" id="user-list">
                  <table class=" table align-items-center table-flush" *ngIf="roleRows">
                      <thead class=" thead-light">
                          <tr style="min-height: 50px !important; height:50px">
                              <th scope="col" class="sort" data-sort="name" i18n>Name</th>
                              <th scope="col" class="sort" data-sort="role" i18n>Permissions</th>

                          </tr>
                      </thead>
                      <tbody class="list" >
                          <tr *ngFor="let role of roleRows; trackBy: trackRow" [id]="role.id">

                              <td scope="row">
                                <p class="text-default name">{{role.name}}</p>

                              </td>
                              <td scope="row" class="permissions">

                                <span *ngFor="let item of role.permissions; let i=index; let first = first; let last = last" class="">
                                  <ng-container [ngSwitch]="item">
                                    <span *ngSwitchCase="'view'" i18n>view</span>
                                    <span *ngSwitchCase="'execute'" i18n>execute</span>
                                    <span *ngSwitchCase="'edit'" i18n>edit</span>
                                    <span *ngSwitchCase="'assign'" i18n>assign</span>
                                    <span *ngSwitchDefault>{{ item }}</span>
                                  </ng-container>
                                  <span *ngIf="!(first && last) && !last">, </span>
                                </span>
                              </td>
                            </tr>


                      </tbody>

                  </table>
                  <div class="col-12 p-4" *ngIf="(showArray.length<1 && this.searchValue) || !roleRows || roleRows.length<1">
                      <div class="d-flex justify-content-center">
                          <p i18n>No roles</p>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
