<app-nav title="User"></app-nav>
<div>
  <h1 style="margin-top: 20px;margin-bottom: 0px;">{{ userDetail.firstName }} {{ userDetail.lastName }}</h1>
  <h3 style="color: grey;">{{ userDetail.username }}</h3>
  <div fxLayout="row" fxLayoutGap="60px">
    <div>
      <div style="width: 200px;height: 200px">
        <img [src]="editedUserDetail.avatar" width="200px">
      </div>
      <div *ngIf="isEditing" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <input type="file" accept="image/png, image/jpeg" (change)="uploadAvatar($event)" #imageInput style="display: none;">
        <button mat-mini-fab (click)="imageInput.click()">
          <mat-icon>publish</mat-icon>
        </button>
        <button *ngIf="editedUserDetail.avatar !== userDetail.avatar" mat-mini-fab (click)="clearAvatar()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <form>
      <table cellspacing="0"><tr>
        <td><mat-form-field>
          <mat-label>Company</mat-label>
          <input matInput readonly [value]="userDetail.company.name">
        </mat-form-field></td>
        <td><mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput readonly [value]="userDetail.username">
        </mat-form-field></td>
      </tr></table>

      <table cellspacing="0"><tr>
        <td><mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput [readonly]="!isEditing" [(ngModel)]="editedUserDetail.firstName" name="firstName">
        </mat-form-field></td>
        <td><mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput [readonly]="!isEditing" [(ngModel)]="editedUserDetail.lastName" name="lastName">
        </mat-form-field></td>
      </tr></table>

      <table cellspacing="0"><tr>
        <td><mat-form-field>
          <mat-label>Role</mat-label>
          <input *ngIf="!isEditing" matInput readonly [value]="userDetail.role.name">
          <mat-select *ngIf="isEditing" readonly [(ngModel)]="editedUserDetail.role.id" name="role">
            <div *ngFor="let role of availableRoles">
              <mat-option [value]="role.id">{{ role.name }}</mat-option>
            </div>
          </mat-select>
        </mat-form-field></td>
      </tr></table>
    </form>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <div>
      <button *ngIf="!isEditing" mat-icon-button (click)="switchToEdit()" style="height: 36px;width: 36px;">
        <mat-icon style="transform: scale(1.5);">create</mat-icon>
      </button>
    </div>
    <div>
      <button *ngIf="isEditing" mat-icon-button (click)="cancleEdit()" style="height: 36px;width: 36px;">
        <mat-icon style="transform: scale(1.8);">clear</mat-icon>
      </button>
    </div>
    <div *ngIf="isEditing">
      <button mat-icon-button (click)="save()" style="height: 36px;width: 36px;">
        <mat-icon style="transform: scale(1.5);">save</mat-icon>
      </button>
    </div>
  </div>
</div>
