<div class=" form-row">
    <div class=" col-12 mb-3">
    <div class=" form-group" [ngClass]="{'has-danger': (inputCheckForError || userHasTyped) && fieldInformation.error}">
        <label class=" form-control-label" [for]="fieldInformation.name" [ngClass]="{'text-danger': (inputCheckForError || userHasTyped) && fieldInformation.error}">
            {{fieldInformation.label}} <span class="text-primary" *ngIf="fieldInformation.label && inputRequired">*</span>
        </label>

        <input
        class=" form-control"
        [ngClass] ="{'is-invalid': (inputCheckForError || userHasTyped) && fieldInformation.error}"
        [placeholder]="inputPlaceholder"
        [required]="inputRequired"
        [type]="inputType"
        [name]="fieldInformation.name"
        (ngModelChange)="validation_save(true, $event)"
        [(ngModel)]="result"
        />
        <ng-container *ngIf="(inputCheckForError || userHasTyped) && fieldInformation.error">
            <div *ngIf="formatError" class=" invalid-feedback">
                <span i18n>Please check the format. It has to be</span>
                <span [ngSwitch]="inputValidation">
                <ng-container *ngSwitchCase="'int' || 'float'" i18n>a number.</ng-container>
                <ng-container *ngSwitchCase="'mail'" i18n>a mail.</ng-container>
                <ng-container *ngSwitchCase="'url'" i18n>an url.</ng-container>
                <ng-container *ngSwitchCase="'phone'" i18n>a phone.</ng-container>
                <ng-container *ngSwitchDefault i18n>a text.</ng-container>
                </span>
            </div>
            <div *ngIf="(inputCheckForError || userHasTyped) && requiredError" class=" invalid-feedback" i18n>Please fill the field.</div>
            <div *ngIf="errorMessage" class=" invalid-feedback">
                {{errorMessage}}
            </div>
        </ng-container>
    </div>
    </div>

</div>

