<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-card-stronger">
                <div class="container-fluid card-body">
                    <div class="row">
                        <div class="col-12">
                            <app-text-field [result]="productTemplate.name" (resultChange)="productTemplate.name = $event; productTemplateChange.emit(productTemplate)" [(fieldInformation)]=name  [inputCheckForError]="checkForError" [inputRequired]="true"> </app-text-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card shadow-card-stronger">
                <div class="container-fluid card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row pt-2 pb-2">
                                <h4 class="col-12 col-sm-auto pl-3 pb-2">Products</h4>
                                <div class="col-12 col-sm-6 mt--2">
                                    <button class="btn btn-icon btn-3 btn-default" type="button">
                                        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                                        <span class="btn-inner--text" (click)="addProcess()">Add Process to your product</span>
                                      </button>
                                </div>
                                
                            </div>
                            
                            <div class="table-resposive-phone">
                                <table class=" table align-items-center table-flush">
                                    <thead class=" thead-light">
                                        <tr>
                                            <th scope="col">select or create a Process</th>
                              
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Edit</th>
                
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        <tr *ngFor="let process of productTemplate.processes; let i=index">
                                            <td scope="row">
                                              
                                              <app-single-multiple-choice  [result]="(process.template) ? {'value': process.template.id, 'label' : process.template.name} : ''" (resultChange)=productSelector($event,i) [ignoreOptions]=ignoreOptions  [isMultipleChoice]=false [inputCheckForError]=checkForError  [isSearchable]=true [inputRequired]=true [data]="processOptions" [allowUserCreateOption]="true" [placeholder]="'select a process or type a new processname'"> </app-single-multiple-choice>
                                              
                                            </td>
                                            <td scope="row">
                                                <app-text-field [inputType]="'number'" [inputValidation]="'int'"  [result]="process.quantity" (resultChange)="process.quantity = $event ? $event : 1; productTemplateChange.emit(productTemplate)"></app-text-field>
                                            </td>
                                            <td scope="row"> 
                                                <button (click)="selectTab.emit(i)" class="ml-1 mr-1 mt--1 btn btn-icon btn-2 btn-default" type="button">
                                                    <span class="btn-inner--icon"><i class="fas fa-pen"></i></span>
                                                </button>
                                                <button (click)="removeProcess(i)" class=" ml-1 mr-1 mt--1 btn btn-icon btn-2 btn-danger" type="button">
                                                    <span  class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                                                </button>
                                            </td>
                                          </tr>
                                        
                                        
                                    </tbody>
                                            
                                </table>
                            </div> 
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
