<app-nav title="Home"></app-nav>
<h1>Welcome</h1>
<mat-list>
  <div mat-subheader>Order</div>
  <mat-list-item>
    <a href="orders/overview">Order Overview</a>
  </mat-list-item>
  <mat-list-item>
    <a href="orders/draft">Order Draft</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Process</div>
  <mat-list-item>
    <a href="processes/overview">Process Overview</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Product Template</div>
  <mat-list-item>
    <a href="templates/product">Product Template</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Process Template</div>
  <mat-list-item>
    <a href="templates/process">Process Template</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Tools</div>
  <mat-list-item>
    <a href="tools">Tool Library</a>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
