<div class=" row" *ngIf="component">
  <div class="col-12">
    <div class="" >
      <label [routerLink]="" fragment="{{ [] | tabFragment }}" class="nav-link-tab bg-white" style="padding-bottom: 13px; margin-bottom: 0;" role="button">
            <h1 class="text-default"> {{ topName + (this.isEdited ? '*' : '')}} <i class="fa fa-angle-down p-2"></i> </h1>
      </label>
    </div>
  </div>
  <div class=" col-12 mt--4 pt-1 mb-0" *ngIf="productNames || processNames || stepNames">
    <div class="card pt-0 mb-0 shadow-right no-bottom-radius">
      <div class="col-12 pt-1" *ngIf="productNames">
        <div class="container-fluid">
          <div class="row">
            <div class="col-1 col-xl-1 col-sm-2 d-flex align-items-center justify-content-center">
              <h2 class="text-default mb-0" i18n>Products:</h2> <!--<p class="pl-2 mb-0 text-muted" *ngIf="productsNames.length==0">None defined</p>-->
            </div>
            <div class="pl-2 col-11 col-xl-11 col-sm-10 pl-0 pr-0 z-index-1" style="display: inline;">
              <app-tabs [tabsvalue]="productNames" [tabsResIndex]="productToggleIndex" [bgColorClassNotSelected]="'bg-default'" [setNotUndefined]="processToggleIndex!=undefined" [navFragmentBase]="[]"> </app-tabs>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 pt-1" *ngIf="processNames">
        <div class="container-fluid">
          <div class="row" [@animSlider]="productToggleIndex">
            <div class="pl-4 col-1 col-xl-1 col-sm-2 d-flex align-items-center justify-content-center" [ngClass]="{'none-defined-padding': processNames.length==0}">
              <h3 class="text-default mb-0" i18n>Processes:</h3> <!--<p class="pl-2 pb-1 mb-0 text-muted" *ngIf="processesNames.length==0">None defined</p>-->
            </div>
            <div class="pl-4 col-11 col-xl-11 col-sm-10  pl-0 pr-0 z-index-1">
              <app-tabs [tabsvalue]="processNames" [tabsResIndex]="processToggleIndex" [setNotUndefined]="stepToggleIndex!=undefined" [navFragmentBase]="[productToggleIndex]"> </app-tabs>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 pt-1" *ngIf="stepNames">
        <div class="container-fluid">
          <div class="row" [@animSlider]="productToggleIndex">
            <div class="pl-6 col-1 col-xl-1 col-sm-2 d-flex align-items-center justify-content-center" [ngClass]="{'none-defined-padding': stepNames.length==0}">
              <h3 class="text-default mb-0" i18n>Steps:</h3> <!--<p class="pl-2 pb-1 mb-0 text-muted" *ngIf="stepsName.length==0">None defined</p>-->
            </div>
            <div class="pl-6 col-11 col-xl-11 col-sm-10  pl-0 pr-0 z-index-1">
              <app-tabs [tabsvalue]="stepNames" [tabsResIndex]="stepToggleIndex" [navFragmentBase]="[productToggleIndex, processToggleIndex]" addable> </app-tabs>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- next div is for css purpose-->
  <div class=" col-12  mb-0">
      <div class=" card pb-8 pt-2 no-top-radius shadow-right " >

      </div>
  </div>
  <ng-container [ngSwitch]="getBottomType()">
      <ng-container *ngSwitchCase="'step'">
          <div class=" col-12 mt--8 pt-2" [@animSlider]="stepToggleIndex">
            <div class=" card pb-8 pt-2  no-top-radius shadow-right">
              <app-step [stepTemplate]="step" (stepTemplateChange)="detectChange()" navFragment="{{ [productToggleIndex, processToggleIndex, stepToggleIndex] | tabFragment }}"> </app-step>
            </div>
          </div>
      </ng-container>
      <ng-container *ngSwitchCase="'process'">
          <div class=" col-12 mt--8 pt-2" [@animSlider]="processToggleIndex">
            <div class=" card pb-8 pt-2  no-top-radius shadow-right">
              <app-process [processTemplate]="process" (processTemplateChange)="detectChange()" navFragment="{{ [productToggleIndex, processToggleIndex] | tabFragment }}"></app-process>
            </div>
          </div>
      </ng-container>
      <ng-container *ngSwitchCase="'product'">
          <div class=" col-12 mt--8 pt-2" [@animSlider]="productToggleIndex">
            <div class=" card pb-8 pt-2 no-top-radius shadow-right pl-3 pr-2">
              <app-product [productTemplate]="product" (productTemplateChange)="detectChange()" navFragment="{{ [productToggleIndex] | tabFragment }}"> </app-product>
            </div>
          </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
          <div class=" col-12 mt--8 pt-2">
              <div class=" card pb-8 pt-2 pl-2 pr-2 no-top-radius shadow-right">
                  <app-order [order]="order" (orderChange)="detectChange()" navFragment="{{ [] | tabFragment }}"> </app-order>
              </div>
          </div>
      </ng-container>
  </ng-container>
</div>
